@charset "utf-8";
/* CSS Document */

	
/*----------------------------(Generelt)--------------------------------*/

*
{
	box-sizing: border-box;
}


body
{
	margin: 0px;
	padding: 0px;
	font-family: Mulish;
	border: solid 0px;
	border-color: purple;
}

/*--------------------------------------------------------------------*/	
/*----------------------------(Header)--------------------------------*/

#menuboks
{
	border: solid 4px;
	border-color: purple;
}


.navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
}

.brand-title 
{
font-size: 40px;
margin: 10px;
}

.navbar-links ul
{
	margin: 0px;
	padding: 0px;
	display: flex;
}

.navbar-links li
{
	list-style: none;
}

.navbar-links li a
{
	text-decoration: none;
	color: white;
	padding: 50px;
	display: block;
}

.navbar-links li:hover
{
	background-color: #555;
	
}

.toggle-button
{
	position: absolute;
	top: 50px;
	right: 65px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar
{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
/*---------------------------------------------------------------------*/
/*----------------------------(Sprog)----------------------------------*/

#knapS
{
	position: fixed;
	right: 0px;
	height: 35px;
	background-color: #555;
	top: 120px;
}

#sprogText 
{
	margin: 0px;
	padding: 0px;
	color: white;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Mode)----------------------------------*/

#knapM
{
	position: fixed;
	right: 0px;
	height: 35px;
	background-color: #555;
	top: 156px;
}

#modeText 
{
	margin: 0px;
	padding: 0px;
	color: white;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Body)----------------------------------*/

#sildeshow-boks
{
	border: solid 4px;
	border-color: purple;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Footer)----------------------------------*/

#footerboks
{
	border: solid 4px;
	border-color: purple;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Media Screen)----------------------------------*/












/*Mobil*/
@media screen and (max-width: 767px) and (min-width: 428px)
{
	body{background-color: red}
	
	.toggle-button{display: flex}
	.navbar-links{/*display: none*/ width: 100%}
	.navbar {flex-direction: column; align-items: flex-start}
	.navbar-links ul{flex-direction: column; width: 100%;}
	.navbar-links li{text-align: center;}
	.navbar-links li a{padding: 20px 5px;}
	.navbar-links.active{display: flex}
}



/*Tablet*/
@media screen and (min-width: 768px)
{
	body{background-color: yellow} 	
	
	
	
	
}



/*PC*/
@media screen and (min-width: 1700px)
{
	body{background-color: green} 
}





/*---------------------------------------------------------------------*/