@charset "utf-8";
/* CSS Document */

	
/*----------------------------(Generelt)--------------------------------*/

*
{
	box-sizing: border-box;
}


body
{
	margin: 0px;
	padding: 0px;
	font-family: Mulish;
	border: solid 0px;
	border-color: purple;
	background-color: white;
}

/*--------------------------------------------------------------------*/	
/*----------------------------(Header)--------------------------------*/

#Logo 
{
	position: absolute;
	top: 0px;
	left: 10px;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav a {
  	color: #2c352c;
  	padding: 5px 16px;
  	text-decoration: none;
  	font-size: 27px;
  	display: block;
  	height: 46px;
	font-family: Mulish;
}

.topnav a.icon {
  background: #FFFFFF;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.menuboks a:hover
{	
 	background-color: #ddd;
  	color: black;
}


.active {
  background-color: lightgray;
}

#search-boks
{
	position: absolute;
	right: 10px;
	top: 10px;
	
	border-radius: 15px;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Body)----------------------------------*/

.container-konktakt
{
	height: 100%;
	width: 100%;
	
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	font-family: Mulish;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Footer)----------------------------------*/

#footerboks
{
	position: absolute;
	background-color: darkgray;
	width: 100%;
	bottom: 0px;
}

.personInfo
{
	list-style: none;
}

#logoFacebook
{
	position: absolute;
	right: 20px;
	top: 10px;
}

#logoLokal
{
	position: absolute;
	right: 90px;
	top: 10px;
}

/*---------------------------------------------------------------------*/
/*----------------------------(Sprog)----------------------------------*/

#knapS
{
	position: fixed;
	height: 35px;
	background-color: #555;
	top: 50px;
	width: 50px;
	right: 0px;
}

#sprogText 
{
	margin: 0px;
	padding: 0px;
	color: white;
}


/*---------------------------------------------------------------------*/
/*----------------------------(Media Screen)----------------------------------*/


/*Mobil*/
@media screen and (max-width: 767px) and (min-width: 428px)
{
	
	#myLinks 
	{
  		display: none;
	}
	
	.menuboks a
	{	
  		color: white;
	}	
	
	#myLinks ul
	{
		list-style: none;
		color: white;
	}
	
	#knapS
	{
		width: 50px;
		height: 50px;
	}
	
	#search-boks
	{
		right: 220px;
	}
	
	.title-boks
	{
		margin-left: 40%;
	}

	#footerboks
	{
		height: 250px;
	}
}


/*Tablet*/
@media screen and (min-width: 768px)
{
		
	#bMenu
	{
		display: none;
	}
	
	#myLinks ul
	{
		display: flex;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 0px;
		left: 100px;
		list-style: none;
	}
	
	#footerboks
	{
		height: 100px;
	}
	
	.personInfo 
	{
		position: absolute;
	}
	
	#JBH
	{
		left: 200px;
	}

	#CMB
	{
		left: 400px;
	}
		
}


/*PC*/
@media screen and (min-width: 1700px)
{
		
	#bMenu
	{
		display:none;
	}

	#myLinks ul
	{
		display: flex;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 0px;
		left: 100px;
		list-style: none;
	}	
	
	
	#footerboks
	{
		height: 100px;
	}
	
	.personInfo 
	{
		position: absolute;
	}
	
	#JBH
	{
		left: 200px;
	}

	#CMB
	{
		left: 400px;
	}
	
}


/*---------------------------------------------------------------------*/